<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <Page>Some text here</Page>
        {{> footer}}
    </body>
</html>